<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="signup login.css" />
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <form action="/login" method="POST">
      <h1>log in</h1>
      <% if(input.iserror) {%>
      <h2 id="error"><%= input.message %></h2>
      <% } %>
      <label for="email">Your Email</label>
      <input type="email" id="email" name="email" value="<%= input.email %>" />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        value="<%= input.password %>"
      />
      <button type="submit">Confirm</button>
    </form>
    <div><a href="/signup">Signup instead</a></div>
  </body>
</html>
